html, body{
    margin:0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

img.imglogo{
    width: 18rem;
}
.MuiAppBar-colorPrimary {
    background-color: #e57373;
}
div.home{
    height: 100vh;
    width: 100%;
}
div.MuiButtonGroup-root.MuiButtonGroup-disableElevation.MuiButtonGroup-contained{
    float:left;
}
div.banner-home{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 25rem;
    width: 100%;
    background-color: #e57373;
    color: white;
}

.leaflet-container {
    width: auto;
    height: 20rem;
  }