html, body{
    margin:0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

img.imglogo{
    width: 15rem;
}
.MuiAppBar-colorPrimary {
    background-color: #e57373;
}
div.home{
    display: flex;
    height: 100vh;
    width: 100%;
}
div.MuiButtonGroup-root.MuiButtonGroup-disableElevation.MuiButtonGroup-contained{
    display: flex;
    float:left;
}
div.banner-home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 25rem;
    width: 100%;
    background-color: #e57373;
    color: white;
}
div.home-btn{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.leaflet-container {
    width: auto;
    height: 20rem;
  }

  footer{
    background-color: antiquewhite;
    margin-top: 5rem;
  }

/* pagination */
   
  .paginationBtns {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #fff;
    list-style: none;
  }
  
  .paginationBtns a {
    text-decoration: none;
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    margin: 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .paginationBtns a:hover {
    background-color: #7e254a;
    color: #fff;
  }
  
  
  .paginationDisabled a {
    background-color: #fff;
    color: #ccc;
    border: 0;
  }
  
  .paginationDisabled a:hover {
    background-color: #fff;
    color: #ccc;
    border: 0;
    cursor: default;
  }
  
  .paginationActive {
    color: #fff;
  }
  
  .paginationActive a {
    color: #fff;
    background-color: #7e254a;
  }

  /*Profile*/

div.profilePmenu{
  padding-left: 5rem;
  padding-right: 5rem;
}
h6.pName{
  margin-right: 5rem;
}